<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="tagModal" class="layer-container" th:fragment="write-tag" style="z-index: 1021;display: none;">
    <div class="layer-container-bg" style="opacity: 0.3;"></div>
    <div class="layer-container-content">
        <div class="pop-box" style="width: 800px; margin-left: 368px; margin-top: 137px;">
            <div class="pop-title js-popup-header"><a href="javascript:void(0);" title="关闭" class="pop-close"></a>
                <!----> <h1>设置</h1></div>
            <div class="pop-publish">
                <section data-v-69e3243b="" subjectid="">
                    <div data-v-69e3243b="" class="module-head"><h1 data-v-69e3243b="">帖子相关话题</h1> <span
                            data-v-69e3243b="" class="module-head-tips">绑定话题，提高帖子曝光，在广场带话题</span></div>
                    <div data-v-69e3243b="" class="module-body">
                        <div data-v-69e3243b="" class="pop-hot-discuss"><span data-v-69e3243b=""
                                                                              class="label">今日大家热议：</span>
                            <div data-v-69e3243b="" class="cont"><a data-v-69e3243b="" href="javascript:void(0);"
                                                                    class="link-green"><span data-v-69e3243b=""
                                                                                             class="txt">#面试复盘#</span></a><a
                                    data-v-69e3243b="" href="javascript:void(0);" class="link-green"><span
                                    data-v-69e3243b="" class="txt">#北京合租#</span></a><a data-v-69e3243b=""
                                                                                       href="javascript:void(0);"
                                                                                       class="link-green"><span
                                    data-v-69e3243b="" class="txt">#京东招聘#</span></a></div>
                        </div>
                        <div data-v-69e3243b="" class="pop-hot-topic"><label data-v-69e3243b=""><i data-v-69e3243b=""
                                                                                                   class="icon-nc-topic"></i>话题</label>
                            <div data-v-69e3243b="" class="search-input-wrap no-search-icon">
                                <div data-v-69e3243b="" aria-haspopup="listbox" role="combobox"
                                     aria-owns="el-autocomplete-5941" class="el-autocomplete">
                                    <div class="el-input"><!----><input type="text" autocomplete="off"
                                                                        valuekey="content"
                                                                        popperclass="search-input-list"
                                                                        placeholder="请输入名称添加话题"
                                                                        fetchsuggestions="function () { [native code] }"
                                                                        triggeronfocus="true" debounce="0"
                                                                        placement="bottom-start"
                                                                        highlightfirstitem="true" visiblearrow="true"
                                                                        class="el-input__inner" role="textbox"
                                                                        aria-autocomplete="list" aria-controls="id"
                                                                        aria-activedescendant="el-autocomplete-5941-item--1">
                                        <!----><!----><!----><!----></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="module-head clearfix"><h1>板块</h1> <span class="module-head-tips js-tips">必选</span></div>
                    <div class="module-body"><span></span>
                        <div class=" btn-group  " id="jsCpn_19_component_0">

                        </div>
                    </div>
                </section>
                <section>
                    <div class="module-head clearfix"><h1>标签</h1> <span
                            class="module-head-tips">最多可输入 7 个标签，方便帖子检索</span></div>
                    <div class="el-select tag-select el-select--medium">
                        <div class="el-select__tags" style="width: 100%; max-width: 728px;"><!----><span></span><input
                                type="text" autocomplete="off" class="el-select__input is-medium"
                                style="flex-grow: 1; width: 0.0274725%; max-width: 718px;"></div>
                        <div class="el-input el-input--medium el-input--prefix el-input--suffix"><!----><input
                                tabindex="-1" type="text" readonly="readonly" autocomplete="off" placeholder="输入标签，回车确定"
                                class="el-input__inner" style="height: 32px;"><span class="el-input__prefix"><label
                                class="icon-tag"></label><!----></span><span class="el-input__suffix"><span
                                class="el-input__suffix-inner"><i
                                class="el-select__caret el-input__icon el-i on-arrow-up"></i><!----><!----><!---->
                            <!----><!----></span><!----></span><!----><!----></div>

                    </div>
                </section>
            </div>

            <div class="pop-footer clearfix">
                <a href="javascript:void(0);" class="btn btn-primary confirm-btn">确定</a>
                <a href="javascript:void(0);" class="btn btn-default cancle-btn">取消</a>
            </div>
        </div>

    </div>
</div>